body{ 
    background-color: #A6CADE;
    font-family: Comic Sans ms;
}

input{
width: 90px;
height: 60;
background-color: rgb(0, 22, 149));

}

img{
    height: 150px;
    width: auto;
}

button{
   background-color: rgb(70, 85, 126);
}

textarea{
    height: 50px;
    width: 160px;
    
}
.header{
    background-color: rgb(7, 7, 7);
    height: 15px;
    width: 20%;
    padding 
}
