body{ 
    background-color: #A6CADE;
    font-family: Comic Sans ms;
}

input{
width: 90px;
height: 60;
}

img{
    height: 150px;
    width: auto;
}

button{
   
}

textarea{
    height: 50px;
    width: 160px;
    
}