
tabel, td , th {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 10px;
    
}

.large { width: 400; height: 400px;}
.medium { width: 275; height: 275px;}
.small { width: auto; height: 200px;}


th { background:rgb(81, 250, 180) ;}

.reheader { background:rgb(0, 0, 0)}

body {
    background: linear-gradient(rgb(7, 6, 6) );
    background-size: 100% 350%;
    padding: 0%;

}

a{
    padding: 10%;
    margin: 5px;
    background-color: green;
}

.header{
    background-color: grey;
}

