
tabel, td , th {
    border: 1px solid rgb(233, 17, 17);
    border-collapse: collapse;
    padding: 10px;
}

.large { width: 400; height: 400px;}
.medium { width: 275; height: 275px;}
.small { width: 150; height: 150px;}


th { background:rgb(255, 97, 97) ;}

.reheader { background: dark rgb;}

body {
    background: linear-gradient(white );
    background-size: 100% 350%;
}
