body{
    color: black;
    background: rgb(99,125,230);
    background: linear-gradient(90deg, rgb(14, 42, 155) 0%, rgba(29,253,156,1) 50%, rgb(35, 9, 122) 100%);
font-family: Comic Sans ms;

}
button{
    height: 25px;
    width: 70px;
    text-align: center;
    padding: 0%;
    
    
}
input{
width: 76px;
}

